.modal-dialog(role='document')
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') &times;
      h4.modal-title Mở một hình ảnh
    .modal-body
      p Hộp thoại đẹp ở đây...
    .modal-footer
      button.btn.btn-default(data-dismiss='modal', type='button') Đóng
