.s-panel-title-container
  span.s-panel-title.h-panel-title
    block title
      | #{title}
  span.s-panel-controls
    block controls
    if collapsed
      i.icon-down-dir-2
    else
      i.icon-up-dir-2
    if removeButton
      i.icon-trash-2.s-remove-panel(data-target=`#${id}`)

- var attrs = {}
if !collapsed
  - attrs.class = 'in'
.s-panel-content.collapse&attributes(attrs)
  block content
